<section>

<div class="row">
  <div class="col-6">
      <div class="topbar-left">
          <ul>
            <li><i class="fa icon-right">&#xf230;</i></li>
            <li>
                <div class="input-group">
                    <div class="input-group-prepend" >
                      <span class="input-group-text">@</span>
                    </div>
                    <input class="form-control mr-md-2" type="text" placeholder="Tìm kiếm">
                  </div>  
            </li>
          </ul>
        </div>
  </div>
  <div class="col-6">
      <div class="topbar-right">
          <ul>
            <li>
              <i style="font-size:24px; margin-right: 7px; color: black" class="fa">&#xf2be;</i>
              Account</li>
            <li>Trang chủ</li>
            <li>Tạo</li>
            <li>
                <i class="fa icon-right">&#xf0c0;</i>
                <i class='fab icon-right'>&#xf39f;</i>
                <i class='fas icon-right'>&#xf0f3;</i>
            </li>
            <li>
              <i class='fas icon-right'>&#xf51c;</i>
              <i class="material-icons icon-right">&#xe887;</i>
            </li>
          </ul>
        </div>
  </div>
</div>

</section>
